language: python

dist: xenial
sudo: required

cache: pip

python:
    - "3.5"
    - "3.6"
    - "3.7"

env:
    - DJANGO=1.11
    - DJANGO=2.0
    - DJANGO=2.1
    - DJANGO=2.2
    - DJANGO=master

matrix:
    fast_finish: true
    include:
      - python: "3.6"
        env: TOXENV="lint"
    exclude:
      - python: "3.7"
        env: DJANGO=1.11
      - python: "3.5"
        env: DJANGO=2.1
      - python: "3.5"
        env: DJANGO=2.2
      - python: "3.5"
        env: DJANGO=master
      - python: "3.6"
        env: DJANGO=master
    allow_failures:
      - env: DJANGO=master

install:
    - pip install tox tox-travis

script:
    - tox

after_success:
    - pip install codecov
    - codecov -e TOXENV,DJANGO
